{% extends 'base/landing-page-writer.html' %}
{% block custom_css %}
    <link href="../static/css/profile.css" rel="stylesheet">
{% endblock %}
{% block notification %}
    <li class="dropdown" style="width:15px; height:15px; margin-right:1em;">
        <a href="#" class="dropdown-toggle" onclick="markread2();" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="width:15px; height:15px; color: white;">
            {% if notifications.count[0].count != 0 %}
            <span id="redmark" style="position: absolute;
    top: 0;
    right: -5px;
    width: 1.2em;
    height: 1.4em;
    font-size: 12px;
    background: red;
    border: 1px solid red;
    border-radius: 50%;
    text-align: center;">{{notifications.count[0].count}}</span>
            {% endif %}
            <span class="fas fa-bell" style="color: rgba(0,0,0,.9); margin-right: 25px; color: #999 !important;"> </span>
            <span class="badge pull-right"></span>
        </a>
      <ul class="dropdown-menu" style="position: absolute; font-size: 12px; left:auto; right:0;
font-style: normal; color: #999 !important; width: 250px; font-size:12px;">
          <div class="notify-drop-title">
            <div class="row" style="margin:0px !important;">
                <div style="text-align: center; width:100% !important;">Notifications</div>
            </div>
        </div>
          <hr>
          <div class="drop-content">
              {% for notification in notifications.notifications %}
              {% if notification.unread == 'True' %}
              <div style="border-bottom:1px solid lightgrey; height:60px; margin-bottom:1em; background-color:#e8e8e8 !important;" >
              {% else %}
              <div style="border-bottom:1px solid lightgrey; height:60px; margin-bottom:1em;">
              {% endif %}
                  <div style="width: 20%; display: inline-block; float: left; margin-left: 2%;">
                  <img src="{{ notification.profile }}" alt="" style="width:45px; height:45px; margin-top: 10%;">
                  </div>
                  {% if notification.status == 'returned' %}
                  <a href="/writer/{{notification.type}}/{{notification.name}}" style="color: #212529;">
                      <div style="width: 75%; display: inline-block; margin-left: 3%;">
                                Your submission has been accepted and published.
                                <p class="time" style="font-size:10px;">{{ notification.date }}</p>
                      </div>
                  </a>
                  {% elif notification.status == 'checked' %}
                  <a href="/writer/{{notification.type}}/{{notification.name}}" style="color: #212529;">
                      <div style="width: 75%; display: inline-block; margin-left: 3%;">
                                Your submission has been returned.
                                <p class="time" style="font-size:10px;">{{ notification.date }}</p>
                      </div>
                  </a>
                  {% endif %}
              </div>
              {% else %}
                <div style="border-bottom:1px solid lightgrey; height:60px; margin-bottom:1em;">
                      <div style="width: 100%; display: inline-block; margin-left: 3%; text-align: center;">
                                You have no notifications.
                      </div>
                </div>
              {% endfor %}
          </div>
          <div class="notify-drop-footer text-center">
          </div>
      </ul>
  </li>
{% endblock %}
{% block content %}

<div class="signin-modal modal fade" id="squarespaceModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="section-heading">Select what to write</h4>
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span
                            class="sr-only">Close</span></button>
                </div>

                <div class="modal-body">
                    <fieldset>
                        <div class="row">
                            <div class="col-sm-8 col-md-12  col-md-offset-12">
                                <form id="type">
                                    <div class="form-group">
                                        <select tabindex="1" class="type-select form-control">
                                          <option value="" selected disabled hidden>Choose here</option>
                                          <option value="Region">Region</option>
                                          <option value="Destination">Destination</option>
                                          <option value="Attraction">Attraction</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-primary btn-block">Next
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>
    </div>



    <!-- Profile -->
    <div class="container">
      <div class="row profile">
        <div class="col-md-3">
          <div class="profile-sidebar">
            <!-- SIDEBAR USERPIC -->
              <div class="profile-userpic" style="margin-left: 60px;">

                            <img src="{{infos.profile}}" style="vertical-align: middle; width: 150px;height: 150px;border-radius: 50%; " id="img-preview"/>
                            <br><br>
                            <label class="file-upload-container" for="file-upload">
                            <input id="file-upload" type="file" name="profile_photo">
                            </label>

              </div>
            <!-- END SIDEBAR USERPIC -->
            <!-- SIDEBAR USER TITLE -->
          <div class="profile-usertitle">
          <div class="profile-usertitle-name">

          </div>
          <div class="profile-usertitle-job">

          </div>
        </div>
        <!-- END SIDEBAR USER TITLE -->
        <!-- SIDEBAR BUTTONS -->
        <!-- <div class="profile-userbuttons">
          <button type="button" class="btn btn-success btn-sm">Follow</button>
          <button type="button" class="btn btn-danger btn-sm">Message</button>
        </div> -->
        <!-- END SIDEBAR BUTTONS -->
        <!-- SIDEBAR MENU -->
        <div class="profile-usermenu">
          <ul class="nav">
              <li>
                  <a href="info" class="btn btn-sm btn-block btn-success">
                    <i class="ace-icon fa fa-user bigger-120"></i>
                    <span class="bigger-110">Info</span>
                  </a>
                  <a href="mypost" class="btn btn-sm btn-block btn-success" >
                    <i class="ace-icon fa fa-home bigger-120"></i>
                    <span class="bigger-110">Post</span>
                  </a>
                  <a href="/profile/activity_logs" class="btn btn-sm btn-block btn-success">
                    <i class="ace-icon fa fa-list-alt bigger-120"></i>
                    <span class="bigger-110">Activity Logs</span>
                  </a>
              </li>
          </ul>
        </div>
        <!-- END MENU -->
      </div>
    </div>

    <div class="col-md-9">
            <div class="profile-content" style="color: black;">
                {% if acts %}

                    {% for act in acts %}
                <div class="notice notice-info">
                    {% if (act.client_id == 'own') and  (act.status == '2') %}
                    You <strong>submitted a post</strong>. <br><font size="2">Date: {{ act.date }}</font> <br>

                    {% endif %}

                    {% if (act.client_id == 'own') and  (act.status == '5') %}
                    You <strong>saved a post to draft</strong>. <br><font size="2">Date: {{ act.date }}</font> <br>

                    {% endif %}

                    {% if (act.client_id == 'own') and  (act.status == '6') %}
                    You <strong>submiited a post from draft</strong>. <br><font size="2">Date: {{ act.date }}</font> <br>

                    {% endif %}


                </div>
                    {% endfor %}
                {% endif %}


              <!-- <img src="../static/img/post-sample-image.jpg" style="background-position: center; background-repeat: no-repeat; height: 50%; width: 60%; margin-left: 100px;  margin-top: 0%;">  -->
          </div>
    </div>

  </div>
</div>
{% endblock %}
{% block custom_js %}
<!-- CUSTOM JS -->
<script src="{{url_for('static', filename='js/axios.min.js')}}"></script>
<script>


    var CLOUDINARY_URL = 'https://api.cloudinary.com/v1_1/dbmtbrihl/upload'; // cloudinary_url/upload naa sa tutorial
    var CLOUDINARY_UPLOAD_PRESET = 'uvyqfvkh' //settings then upload preset sa cloudinary acc
    var id =''; //var to pass to database
    var user = localStorage.getItem('user');

    var imgPreview = document.getElementById("img-preview");
    var fileUpload = document.getElementById("file-upload");

    fileUpload.addEventListener('change', function(event) {
      console.log(event);
      var file = event.target.files[0];
      var formData = new FormData();
      formData.append('file', file);
      formData.append('upload_preset', CLOUDINARY_UPLOAD_PRESET);

      axios({
        url: CLOUDINARY_URL,
        method: 'POST',
        headers: {
            'Content-Type': 'application/x-www-form-urlencoded' //passing a form content header not a json
        },
        data: formData

      }).then(function(res) {
          console.log(res);
          imgPreview.src = res.data.secure_url; // change preset to uploaded
          id = res.data.secure_url;

           $.ajax({
                    url: "http://127.0.0.1:5000/api/profile/edit",
                    contentType: 'application/json; charset=utf-8',
                    data: JSON.stringify({
                        'username':user,
                        'profile':id,

                    }),
                    method: "POST",
                    dataType: "json",
                    crossDomain: true,
                    success: function () {
                        console.log("success");
                        alert("Success!");

                    },
                    error: function () {
                        console.log('error')
                    },
                    complete: function (jqXHR) {
                        if (jqXHR.status == '401') {
                            console.log(jqXHR.status)
                        }
                    }
                })


      }).catch(function(err) {
          console.log(err);

      });



    });




</script>

{% endblock %}
