{% extends 'base/landing-page-editor.html' %}
{% block custom_css %}
<!-- Custom CSS -->
<link rel="stylesheet" href="{{url_for('static', filename='css/notification.css')}}">
{% endblock %}
{% block notification %}
    <li class="dropdown" style="width:15px; height:15px; margin-right:1em;">
        <a href="#" class="dropdown-toggle" onclick="markread();" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="width:15px; height:15px; color: white;">
            {% if notifications.count[0].count != 0 %}
            <span id="redmark" style="position: absolute;
    top: 0;
    right: -5px;
    width: 1.2em;
    height: 1.4em;
    font-size: 12px;
    background: red;
    border: 1px solid red;
    border-radius: 50%;
    text-align: center;">{{notifications.count[0].count}}</span>
            {% endif %}
            <span class="fas fa-bell" style="color: rgba(0,0,0,.9); margin-right: 25px; color: #999 !important;"> </span>
            <span class="badge pull-right"></span>
        </a>
      <ul class="dropdown-menu" style="position: absolute; font-size: 12px; left:auto; right:0;
font-style: normal; color: #999 !important; width: 250px; font-size:12px;">
          <div class="notify-drop-title">
            <div class="row" style="margin:0px !important;">
                <div style="text-align: center; width:100% !important;">Notifications</div>
            </div>
        </div>
          <hr>
          <div class="drop-content">
              {% if notifications.count[0].count >= 10%}
                    {% if notifications.unread == 'True' %}
                    <div style="border-bottom:1px solid lightgrey; height:60px; margin-bottom:1em; background-color:#e8e8e8 !important;" >
                      {% else %}
                      <div style="border-bottom:1px solid lightgrey; height:60px; margin-bottom:1em;">
                      {% endif %}
                          <div style="width: 20%; display: inline-block; float: left; margin-left: 2%;">
                          <img src="{{ notifications.notifications.profile }}" alt="" style="width:45px; height:45px; margin-top: 10%;">
                          </div>
                          <a href="" style="color: #212529;">
                              <div style="width: 75%; display: inline-block; margin-left: 3%;">
                                        {% if notifications.notifications.status == 'submission' %}
                                        {{ notifications.notifications.fullname }} and {{ notifications.notifications.count[0]-1 }} have submitted a post.
                                        {% endif %}
                                        <p class="time" style="font-size:10px;">{{ notifications.notifications.date }}</p>
                              </div>
                          </a>
                      </div>
              {% else %}
              {% for notification in notifications.notifications %}
              <div style="border-bottom:1px solid lightgrey; height:60px; margin-bottom:1em; background-color:#e8e8e8 !important;" >
                  <div style="width: 20%; display: inline-block; float: left; margin-left: 2%;">
                  <img src="{{ notification.profile }}" alt="" style="width:45px; height:45px; margin-top: 10%;">
                  </div>
                  <a href="" style="color: #212529;">
                      <div style="width: 75%; display: inline-block; margin-left: 3%;">
                                {% if notification.status == 'submission' %}
                                {{ notification.fullname }} has submitted a post.
                                {% endif %}
                                <p class="time" style="font-size:10px;">{{ notification.date }}</p>
                      </div>
                  </a>
              </div>
              {% else %}
                <div style="border-bottom:1px solid lightgrey; height:60px; margin-bottom:1em;">
                      <div style="width: 100%; display: inline-block; margin-left: 3%; text-align: center;">
                                You have no notifications.
                      </div>
                </div>
              {% endfor %}
              {% endif %}
          </div>
          <div class="notify-drop-footer text-center">
          </div>
      </ul>
  </li>
{% endblock %}
{% block content %}
    {% if post %}
    <section class="page-section about-heading">
          <div class="container">
            <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" style="width: 1280px;
    height: 640px;     border: 0;
    max-width: 100%;
    height: auto;" src="{{ post.photo }}" alt="">
            <div class="about-heading-content">
              <div class="row">
                <div class="col-xl-9 col-lg-10 mx-auto">
                  <div class="bg-faded rounded p-5">
                    <h2 class="section-heading mb-4">
                    {% if post.type == 'Region' %}
                      <span class="section-heading-upper">Region <div class="btn-group" style="display: inline-block;
    font-size: 0;
    position: relative;
    vertical-align: middle;
    white-space: nowrap; margin-left:1em;">
                      <a data-toggle="dropdown" class="btn btn-info" style="font-size: 10px; background-color: transparent;
    border-color: transparent;
    border: transparent; box-shadow:0px 0px 0px 0px; -webkit-box-shadow: 0px 0px 0px 0px;">
                         <i class="fa fa-ellipsis-h"></i>
                    </a>
                      <ul class="dropdown-menu" style="float: right;
    list-style: none outside none;
    margin: 0;
    min-width: 61px;
    padding: 0;">
        				<li>
    					    <form action="{{url_for('delete_post')}}" method="post">
                            <input style="display:none;" value="{{ post.write_id }}" name="write_id" type="number" readonly>
                            <input style="display:none;" value="Region" name="type" type="text" readonly>
    					    <button data-original-title="Delete" type="submit" rel="tooltip"  href="#" class="btn btn-primary" data-placement="left" style="color: #333; font-size:12px; background-color:transparent; border-color:#333;">
								<span class="glyphicon glyphicon-trash"></span>Delete Post
							</button>
                            </form>
    					</li>
                      </ul>
                      </div></span>
                    {% elif post.type == 'Destination' %}
                        <span class="section-heading-upper"><a href="/editor/attraction/{{post.name}}">Discover {{ post.location }}</a><div class="btn-group" style="display: inline-block;
    font-size: 0;
    position: relative;
    vertical-align: middle;
    white-space: nowrap; margin-left:1em;">
                      <a data-toggle="dropdown" class="btn btn-info" style="font-size: 10px; background-color: transparent;
    border-color: transparent;
    border: transparent; box-shadow:0px 0px 0px 0px; -webkit-box-shadow: 0px 0px 0px 0px;">
                         <i class="fa fa-ellipsis-h"></i>
                    </a>
                      <ul class="dropdown-menu" style="float: right;
    list-style: none outside none;
    margin: 0;
    min-width: 61px;
    padding: 0;">
        				<li>
    					    <form action="{{url_for('delete_post')}}" method="post">
                            <input style="display:none;" value="{{ post.write_id }}" name="write_id" type="number" readonly>
                            <input style="display:none;" value="Destination" name="type" type="text" readonly>
    					    <button data-original-title="Delete" type="submit" rel="tooltip"  href="#" class="btn btn-primary" data-placement="left" style="color: #333; font-size:12px; background-color:transparent; border-color:#333;">
								<span class="glyphicon glyphicon-trash"></span>Delete Post
							</button>
                            </form>
    					</li>
                      </ul>
                      </div></span>
                    {% elif post.type == 'Attraction' %}
                        <span class="section-heading-upper"><a href="/editor/region/{{post.region_name}}">Discover {{ post.region_name }}</a><div class="btn-group" style="display: inline-block;
    font-size: 0;
    position: relative;
    vertical-align: middle;
    white-space: nowrap; margin-left:1em;">
                      <a data-toggle="dropdown" class="btn btn-info" style="font-size: 10px; background-color: transparent;
    border-color: transparent;
    border: transparent; box-shadow:0px 0px 0px 0px; -webkit-box-shadow: 0px 0px 0px 0px;">
                         <i class="fa fa-ellipsis-h"></i>
                    </a>
                      <ul class="dropdown-menu" style="float: right;
    list-style: none outside none;
    margin: 0;
    min-width: 61px;
    padding: 0;">
        				<li>
    					    <form action="{{url_for('delete_post')}}" method="post">
                            <input style="display:none;" value="{{ post.write_id }}" name="write_id" type="number" readonly>
                            <input style="display:none;" value="Attraction" name="type" type="text" readonly>
    					    <button data-original-title="Delete" type="submit" rel="tooltip"  href="#" class="btn btn-primary" data-placement="left" style="color: #333; font-size:12px; background-color:transparent; border-color:#333;">
								<span class="glyphicon glyphicon-trash"></span>Delete Post
							</button>
                            </form>
    					</li>
                      </ul>
                      </div></span>
                    {% endif %}
                      <span class="section-heading-lower">{{ post.name }}</span>
                    </h2>
                    {{ post.content | safe}}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
    {% endif %}
{% endblock %}
{% block custom_js %}
<!-- CUSTOM JS -->
{% endblock %}