{% extends 'base/landing-page-editor.html' %}
{% block custom_css %}
<!-- Custom CSS -->
<link rel="stylesheet" href="{{url_for('static', filename='css/notification.css')}}">
{% endblock %}
{% block notification %}
    <li class="dropdown" style="width:15px; height:15px; margin-right:1em;">
        <a href="#" class="dropdown-toggle" onclick="markread();" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="width:15px; height:15px; color: white;">
            {% if notifications.count[0].count != 0 %}
            <span id="redmark" style="position: absolute;
    top: 0;
    right: -5px;
    width: 1.2em;
    height: 1.4em;
    font-size: 12px;
    background: red;
    border: 1px solid red;
    border-radius: 50%;
    text-align: center;">{{notifications.count[0].count}}</span>
            {% endif %}
            <span class="fas fa-bell" style="color: rgba(0,0,0,.9); margin-right: 25px; color: #999 !important;"> </span>
            <span class="badge pull-right"></span>
        </a>
      <ul class="dropdown-menu" style="position: absolute; font-size: 12px; left:auto; right:0;
font-style: normal; color: #999 !important; width: 250px; font-size:12px;">
          <div class="notify-drop-title">
            <div class="row" style="margin:0px !important;">
                <div style="text-align: center; width:100% !important;">Notifications</div>
            </div>
        </div>
          <hr>
          <div class="drop-content">
              {% if notifications.count[0].count >= 10%}
                    <div style="border-bottom:1px solid lightgrey; height:60px; margin-bottom:1em; background-color:#e8e8e8 !important;" >
                          <div style="width: 20%; display: inline-block; float: left; margin-left: 2%;">
                          <img src="{{ notifications.notifications.profile }}" alt="" style="width:45px; height:45px; margin-top: 10%;">
                          </div>
                          <a href="" style="color: #212529;">
                              <div style="width: 75%; display: inline-block; margin-left: 3%;">
                                        {% if notifications.notifications.status == 'submission' %}
                                        {{ notifications.notifications.fullname }} and {{ notifications.notifications.count[0]-1 }} have submitted a post.
                                        {% endif %}
                                        <p class="time" style="font-size:10px;">{{ notifications.notifications.date }}</p>
                              </div>
                          </a>
                      </div>
              {% else %}
              {% for notification in notifications.notifications %}
              {% if notification.unread == 'True' %}
              <div style="border-bottom:1px solid lightgrey; height:60px; margin-bottom:1em; background-color:#e8e8e8 !important;" >
              {% else %}
              <div style="border-bottom:1px solid lightgrey; height:60px; margin-bottom:1em;">
              {% endif %}
                  <div style="width: 20%; display: inline-block; float: left; margin-left: 2%;">
                  <img src="{{ notification.profile }}" alt="" style="width:45px; height:45px; margin-top: 10%;">
                  </div>
                  <a href="" style="color: #212529;">
                      <div style="width: 75%; display: inline-block; margin-left: 3%;">
                                {% if notification.status == 'submission' %}
                                {{ notification.fullname }} has submitted a post.
                                {% endif %}
                                <p class="time" style="font-size:10px;">{{ notification.date }}</p>
                      </div>
                  </a>
              </div>
              {% else %}
                <div style="border-bottom:1px solid lightgrey; height:60px; margin-bottom:1em;">
                      <div style="width: 100%; display: inline-block; margin-left: 3%; text-align: center;">
                                You have no notifications.
                      </div>
                </div>
              {% endfor %}
              {% endif %}
          </div>
          <div class="notify-drop-footer text-center">
          </div>
      </ul>
  </li>
{% endblock %}
{% block content %}
    {% for post in posts %}
    <section class="page-section">
      <div class="container">
        <div class="product-item">
          <div class="product-item-title d-flex">
            <div class="bg-faded p-5 d-flex ml-auto rounded">
              <h2 class="section-heading mb-0">
                <span class="section-heading-upper"></span>
                  <span class="section-heading-upper"><a href="/editor/destination/{{post.name}}">Discover {{ post.location }}</a><div class="btn-group" style="display: inline-block;
    font-size: 0;
    position: relative;
    vertical-align: middle;
    white-space: nowrap; margin-left:1em;">
                      <a data-toggle="dropdown" class="btn btn-info" style="font-size: 10px; background-color: transparent;
    border-color: transparent;
    border: transparent; box-shadow:0px 0px 0px 0px; -webkit-box-shadow: 0px 0px 0px 0px;">
                         <i class="fa fa-ellipsis-h"></i>
                    </a>
                      <ul class="dropdown-menu" style="float: right;
    list-style: none outside none;
    margin: 0;
    min-width: 61px;
    padding: 0;">
        				<li>
    					    <form action="{{url_for('delete_post')}}" method="post">
                            <input style="display:none;" value="{{ post.write_id }}" name="write_id" type="number" readonly>
                            <input style="display:none;" value="Destination" name="type" type="text" readonly>
    					    <button data-original-title="Delete" type="submit" rel="tooltip"  href="#" class="btn btn-primary" data-placement="left" style="color: #333; font-size:12px; background-color:transparent; border-color:#333;">
								<span class="glyphicon glyphicon-trash"></span>Delete Post
							</button>
                            </form>
    					</li>
                      </ul>
                      </div></span>
                  <a href="/editor/destination/{{post.name}}" style="color: initial; text-decoration: none !important;"><span class="section-heading-lower">{{ post.name }}</span></a>
              </h2>
            </div>
          </div>
          <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" style="width:1280px;
    height: 640px;     border: 0;
    max-width: 100%;
    height: auto;" src="{{ post.photo }}" alt="">
          <div class="product-item-description d-flex mr-auto">
            <div class="bg-faded p-5 rounded">
              <div class="mb-0" style="    overflow: hidden;
    height: 80px;">{{ post.content | safe}}</div>
            </div>
          </div>
        </div>
      </div>
    </section>
  {% endfor %}
<nav aria-label="Page navigation example" style="text-align:center; padding-left: 45%;">
      <ul class="pagination">
          <li class="page-item">
              <a class="page-link" href="/editor/destinations/{{count}}" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
              </a>
            </li>
       {% for page in paginate %}
            {% if page %}
              <li class="page-item"><a class="page-link" href="/editor/destinations/{{count}}">{{ page }}</a></li>
              {% else %}
              <li class="page-item"><a class="page-link">...</a></li>
            {% endif %}

          {% endfor %}
          <li class="page-item">
          <a class="page-link" href="/editor/destinations/{{count-1}}" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
            <span class="sr-only">Next</span>
          </a>
        </li>
      </ul>
    </nav>
{% endblock %}
{% block custom_js %}
<!-- CUSTOM JS -->
{% endblock %}
