{% extends 'base/landing-page-editor.html' %}
{% block custom_css %}
<!-- Custom CSS -->
<script>
  $(document).ready(function () {
            var role_id = localStorage.getItem('role_id');
            if (role_id != '2') {
                window.location.href = '/unauthorized';
            }
        })
</script>
<script>
   $(document).ready(function () {
            $('#type').submit(function () {
                var type = $(".type-select option:selected").val();
                alert(type);
                localStorage.setItem('type_selected', type);
                if (type == 'Region'){
                    window.location.href='/writer/region', true;
                } else if (type == 'Destination') {
                    window.location.href='/writer/destination', true;
                } else {
                    window.location.href='/writer/attraction', true;
                }
                return false;
            });
        })
</script>
{% endblock %}
{% block content %}
<div class="signin-modal modal fade" id="squarespaceModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="section-heading">Select what to write</h4>
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span
                            class="sr-only">Close</span></button>
                </div>

                <div class="modal-body">
                    <fieldset>
                        <div class="row">
                            <div class="col-sm-8 col-md-12  col-md-offset-12">
                                <form id="type">
                                    <div class="form-group">
                                        <select tabindex="1" class="type-select form-control">
                                          <option value="" selected disabled hidden>Choose here</option>
                                          <option value="Region">Region</option>
                                          <option value="Destination">Destination</option>
                                          <option value="Attraction">Attraction</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-primary btn-block">Next
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>
    </div>
{% for post in posts %}
    <section class="page-section">
      <div class="container">
        <div class="product-item">
          <div class="product-item-title d-flex">
            <div class="bg-faded p-5 d-flex ml-auto rounded">
              <h2 class="section-heading mb-0">
                <span class="section-heading-upper"></span>
              {% if post.type == 'Region' %}
                      <span class="section-heading-upper">Region <div class="btn-group" style="display: inline-block;
    font-size: 0;
    position: relative;
    vertical-align: middle;
    white-space: nowrap; margin-left:1em;">
                      <a data-toggle="dropdown" class="btn btn-info" style="font-size: 10px; background-color: transparent;
    border-color: transparent;
    border: transparent; box-shadow:0px 0px 0px 0px; -webkit-box-shadow: 0px 0px 0px 0px;">
                         <i class="fa fa-ellipsis-h"></i>
                    </a>
                      <ul class="dropdown-menu" style="float: right;
    list-style: none outside none;
    margin: 0;
    min-width: 61px;
    padding: 0;">
        				<li>
    					    <form action="{{url_for('delete_post')}}" method="post">
                            <input style="display:none;" value="{{ post.write_id }}" name="write_id" type="number" readonly>
                            <input style="display:none;" value="Region" name="type" type="text" readonly>
    					    <button data-original-title="Delete" type="submit" rel="tooltip"  href="#" class="btn btn-primary" data-placement="left" style="color: #333; font-size:12px; background-color:transparent; border-color:#333;">
								<span class="glyphicon glyphicon-trash"></span>Delete Post
							</button>
                            </form>
    					</li>
                      </ul>
                      </div></span>
                  <a href="/admin/region/{{post.name}}" style="color: initial; text-decoration: none !important;"><span class="section-heading-lower">{{ post.name }}</span></a>
                    {% elif post.type == 'Destination' %}
                        <span class="section-heading-upper"><a href="/editor/attraction/{{post.name}}">Discover {{ post.location }}</a><div class="btn-group" style="display: inline-block;
    font-size: 0;
    position: relative;
    vertical-align: middle;
    white-space: nowrap; margin-left:1em;">
                      <a data-toggle="dropdown" class="btn btn-info" style="font-size: 10px; background-color: transparent;
    border-color: transparent;
    border: transparent; box-shadow:0px 0px 0px 0px; -webkit-box-shadow: 0px 0px 0px 0px;">
                         <i class="fa fa-ellipsis-h"></i>
                    </a>
                      <ul class="dropdown-menu" style="float: right;
    list-style: none outside none;
    margin: 0;
    min-width: 61px;
    padding: 0;">
        				<li>
    					    <form action="{{url_for('delete_post')}}" method="post">
                            <input style="display:none;" value="{{ post.write_id }}" name="write_id" type="number" readonly>
                            <input style="display:none;" value="Destination" name="type" type="text" readonly>
    					    <button data-original-title="Delete" type="submit" rel="tooltip"  href="#" class="btn btn-primary" data-placement="left" style="color: #333; font-size:12px; background-color:transparent; border-color:#333;">
								<span class="glyphicon glyphicon-trash"></span>Delete Post
							</button>
                            </form>
    					</li>
                      </ul>
                      </div></span>
                  <a href="/admin/destination/{{post.name}}" style="color: initial; text-decoration: none !important;"><span class="section-heading-lower">{{ post.name }}</span></a>
                    {% elif post.type == 'Attraction' %}
                        <span class="section-heading-upper"><a href="/editor/region/{{post.region_name}}">Discover {{ post.region_name }}</a><div class="btn-group" style="display: inline-block;
    font-size: 0;
    position: relative;
    vertical-align: middle;
    white-space: nowrap; margin-left:1em;">
                      <a data-toggle="dropdown" class="btn btn-info" style="font-size: 10px; background-color: transparent;
    border-color: transparent;
    border: transparent; box-shadow:0px 0px 0px 0px; -webkit-box-shadow: 0px 0px 0px 0px;">
                         <i class="fa fa-ellipsis-h"></i>
                    </a>
                      <ul class="dropdown-menu" style="float: right;
    list-style: none outside none;
    margin: 0;
    min-width: 61px;
    padding: 0;">
        				<li>
    					    <form action="{{url_for('delete_post')}}" method="post">
                            <input style="display:none;" value="{{ post.write_id }}" name="write_id" type="number" readonly>
                            <input style="display:none;" value="Attraction" name="type" type="text" readonly>
    					    <button data-original-title="Delete" type="submit" rel="tooltip"  href="#" class="btn btn-primary" data-placement="left" style="color: #333; font-size:12px; background-color:transparent; border-color:#333;">
								<span class="glyphicon glyphicon-trash"></span>Delete Post
							</button>
                            </form>
    					</li>
                      </ul>
                      </div></span>
                  <a href="/editor/attraction/{{post.name}}" style="color: initial; text-decoration: none !important;"><span class="section-heading-lower">{{ post.name }}</span></a>
                    {% endif %}
              </h2>
            </div>
          </div>
          <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" style="width:1280px;
    height: 640px;     border: 0;
    max-width: 100%;
    height: auto;" src="data:image;base64, {{ post.photo }}" alt="">
          <div class="product-item-description d-flex mr-auto">
            <div class="bg-faded p-5 rounded">
              <div class="mb-0" style="    overflow: hidden;
    height: 80px;">{{ post.content | safe}}</div>
            </div>
          </div>
        </div>
      </div>
    </section>
  {% endfor %}

{% endblock %}
{% block custom_js %}
<!-- CUSTOM JS -->
{% endblock %}