{% extends 'base/landing-page-editor.html' %}
{% block custom_css %}
<!-- Custom CSS -->
<script>
  $(document).ready(function () {
            var role_id = localStorage.getItem('role_id');
            if (role_id != '2') {
                window.location.href = '/unauthorized';
            }
        })
</script>
<link href="{{url_for('static', filename='plugin/fine-uploader/fine-uploader.min.css')}}" rel="stylesheet">
<script src="{{url_for('static', filename='plugin/fine-uploader/fine-uploader.min.js')}}"></script>
    <script type="text/template" id="qq-template">
        <div class="qq-uploader-selector qq-uploader qq-gallery" qq-drop-area-text="Drop files here">
            <div class="qq-total-progress-bar-container-selector qq-total-progress-bar-container">
                <div role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" class="qq-total-progress-bar-selector qq-progress-bar qq-total-progress-bar"></div>
            </div>
            <div class="qq-upload-drop-area-selector qq-upload-drop-area" qq-hide-dropzone>
                <span class="qq-upload-drop-area-text-selector"></span>
            </div>
            <div class="qq-upload-button-selector qq-upload-button" style="width:20% !important;">
                <div>Upload a file</div>
            </div>
            <span class="qq-drop-processing-selector qq-drop-processing">
                <span>Processing dropped files...</span>
                <span class="qq-drop-processing-spinner-selector qq-drop-processing-spinner"></span>
            </span>
            <ul class="qq-upload-list-selector qq-upload-list" role="region" aria-live="polite" aria-relevant="additions removals">
                <li>
                    <span role="status" class="qq-upload-status-text-selector qq-upload-status-text"></span>
                    <div class="qq-progress-bar-container-selector qq-progress-bar-container">
                        <div role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" class="qq-progress-bar-selector qq-progress-bar"></div>
                    </div>
                    <span class="qq-upload-spinner-selector qq-upload-spinner"></span>
                    <div class="qq-thumbnail-wrapper">
                        <img class="qq-thumbnail-selector" qq-max-size="120" qq-server-scale>
                    </div>
                    <button type="button" class="qq-upload-cancel-selector qq-upload-cancel">X</button>
                    <button type="button" class="qq-upload-retry-selector qq-upload-retry">
                        <span class="qq-btn qq-retry-icon" aria-label="Retry"></span>
                        Retry
                    </button>

                    <div class="qq-file-info">
                        <div class="qq-file-name">
                            <span class="qq-upload-file-selector qq-upload-file"></span>
                            <span class="qq-edit-filename-icon-selector qq-btn qq-edit-filename-icon" aria-label="Edit filename"></span>
                        </div>
                        <input class="qq-edit-filename-selector qq-edit-filename" tabindex="0" type="text">
                        <span class="qq-upload-size-selector qq-upload-size"></span>
                        <button type="button" class="qq-btn qq-upload-delete-selector qq-upload-delete">
                            <span class="qq-btn qq-delete-icon" aria-label="Delete"></span>
                        </button>
                        <button type="button" class="qq-btn qq-upload-pause-selector qq-upload-pause">
                            <span class="qq-btn qq-pause-icon" aria-label="Pause"></span>
                        </button>
                        <button type="button" class="qq-btn qq-upload-continue-selector qq-upload-continue">
                            <span class="qq-btn qq-continue-icon" aria-label="Continue"></span>
                        </button>
                    </div>
                </li>
            </ul>

            <dialog class="qq-alert-dialog-selector">
                <div class="qq-dialog-message-selector"></div>
                <div class="qq-dialog-buttons">
                    <button type="button" class="qq-cancel-button-selector">Close</button>
                </div>
            </dialog>

            <dialog class="qq-confirm-dialog-selector">
                <div class="qq-dialog-message-selector"></div>
                <div class="qq-dialog-buttons">
                    <button type="button" class="qq-cancel-button-selector">No</button>
                    <button type="button" class="qq-ok-button-selector">Yes</button>
                </div>
            </dialog>

            <dialog class="qq-prompt-dialog-selector">
                <div class="qq-dialog-message-selector"></div>
                <input type="text">
                <div class="qq-dialog-buttons">
                    <button type="button" class="qq-cancel-button-selector">Cancel</button>
                    <button type="button" class="qq-ok-button-selector">Ok</button>
                </div>
            </dialog>
        </div>
    </script>
      <style>
        .qq-gallery .qq-upload-button {
            background: #333;
            border: #333;
        }
    </style>
{% endblock %}
{% block content %}
<div class="signin-modal modal fade" id="squarespaceModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="section-heading">Select what to write</h4>
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span
                        class="sr-only">Close</span></button>
            </div>

            <div class="modal-body">
                <fieldset>
                    <div class="row">
                        <div class="col-sm-8 col-md-12  col-md-offset-12">
                            <form id="type">
                                <div class="form-group">
                                    <select tabindex="1" class="type-select form-control">
                                      <option value="" selected disabled hidden>Choose here</option>
                                      <option value="Region">Region</option>
                                      <option value="Destination">Destination</option>
                                      <option value="Attraction">Attraction</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary btn-block">Next
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
    </div>
</div>
<section class="page-section custom" style="    padding-top: 5rem;
    padding-bottom: 5rem; background-color: whitesmoke; margin-top:0em; margin-bottom:0em;">
      <div class="container" style="max-width:100%;">
        <div class="row">
          <div class="col-xl-9 mx-auto">
            <div class="custom-inner text-center rounded">
            {% if submission %}
              <h2 class="section-heading mb-4">
                <span class="section-heading-upper">Edit a Post by {{ submission.author_name }}</span>
              </h2>

            <select class="region form-control" required>
                <option value="{{ submission.region }}" selected disabled hidden>{{  submission.region }}</option>
                {% for region in regions %}
                <option value="{{ region.name }}">{{ region.name }}</option>
                {%  endfor %}
            </select>
            <input type="text" name="Location" placeholder="Location" value="{{ submission.location }}" id="location_des" style="width:100.2%;" required>
            <input type="text" name="Title" placeholder="Title" id="title_des" value="{{ submission.name }}" style="width:100.2%;" required>
            <input style="display:none;" value="{{ submission.write_id }}" id="writeid" type="number" readonly>
            <textarea class="tinymce" id="texteditor">{{ submission.content | safe }}</textarea>
            <h3>Photo:</h3>
            <img class="image image-small" style="width:80%; margin-bottom:1em; margin-top:1em;" src="{{ submission.photo }}" />
            <input type="text" name="comment" id="comment" placeholder="Comment" style="width:100%;">
            <input type="submit" class="btn" value="Save & Publish" style="margin-top:3em;" id="publish_destination">
            <input type="submit" class="btn" value="Return to User" style="margin-top:3em;" id="check_destination">
            {% endif %}
            </div>
          </div>
        </div>
      </div>
        <div id="data-containter">

        </div>
</section>


{% endblock %}
{% block custom_js %}
<!-- CUSTOM JS -->
<script src="{{url_for('static', filename='plugin/tinymce/js/tinymce/tinymce.min.js')}}"></script>
<script src="{{url_for('static', filename='plugin/tinymce/js/tinymce/init-tinymce.js')}}"></script>
<script src="{{url_for('static', filename='js/getdata.js')}}"></script>
<script src="{{url_for('static', filename='js/submit.js')}}"></script>
<script src="{{url_for('static', filename='js/editor_view.js')}}"></script>
    <script>
        $(document).ready(function () {
            $('#publish_destination').click(function () {
                var content = tinymce.get("texteditor").getContent();
                var region = $(".region option:selected").val();
                var write_id = $("#writeid").val();
                var location = $("#location_des").val();
                var name = $("#title_des").val();
                $.ajax({
                    url: "http://127.0.0.1:5000/api/editor/publish/destination",
                    contentType: 'application/json; charset=utf-8',
                    data: JSON.stringify({
                        'write_id': write_id,
                        'location' : location,
                        'name' : name,
                        'content':content,
                        'region': region,
                    }),
                    method: "POST",
                    dataType: "json",
                    crossDomain: true,
                    success: function () {
                        console.log("success");
                        alert("Submitted!");
                        window.location.href='/editor/submissions'
                    },
                    error: function () {
                        console.log('error')
                    }
                })
                return false;
            });
            $('#check_destination').click(function () {
                var content = tinymce.get("texteditor").getContent();
                var region = $(".region option:selected").val();
                var write_id = $("#writeid").val();
                var comment = $("#comment").val();
                var location = $("#location_des").val();
                var name = $("#title_des").val();
                $.ajax({
                    url: "http://127.0.0.1:5000/api/editor/edit/destination",
                    contentType: 'application/json; charset=utf-8',
                    data: JSON.stringify({
                        'write_id': write_id,
                        'location' : location,
                        'name' : name,
                        'content':content,
                        'region': region,
                        'comment': comment,
                    }),
                    method: "POST",
                    dataType: "json",
                    crossDomain: true,
                    success: function () {
                        console.log("success");
                        alert("Submitted!");
                        window.location.href='/editor/submissions'
                    },
                    error: function () {
                        console.log('error')
                    }
                })
                return false;
            });
            $('#delete_destination').click(function () {
                var write_id = $("#writeid").val();
                $.ajax({
                    url: "http://127.0.0.1:5000/api/editor/delete/destination",
                    contentType: 'application/json; charset=utf-8',
                    data: JSON.stringify({
                        'write_id': write_id,
                    }),
                    method: "POST",
                    dataType: "json",
                    crossDomain: true,
                    success: function () {
                        console.log("success");
                        alert("Submitted!");
                        window.location.href='/editor/submissions'
                    },
                    error: function () {
                        console.log('error')
                    }
                })
                return false;
            });
        })



    </script>
{% endblock %}