<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Mindanao Escapade</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="../static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href='../static/vendor/fontawesome-free/css/fontawesome.css' rel='stylesheet' type='text/css'>
    <link href='../static/vendor/fontawesome-free/css/fontawesome.min.css' rel='stylesheet' type='text/css'>
    <!-- <link href="../static/css/agency.css" rel="stylesheet"> -->

    <!-- Custom styles for this template -->
    <link href="../static/css/clean-blogT.css" rel="stylesheet">

  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-xl navbar-light fixed-top" style="background-color: black; height: 10%;" id="mainNav">
      <div class="container">
        <a class="navbar-brand" href="index.html" style="margin-right:-20px;">Mindanao Escapade</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <div class="navbar-header">
                <div class="nav navbar-nav navbar-right">

                      <li>
                          <input type="text" placeholder="Search.." name="search" style="height: 25px; font-size: 20px;">
                          <a href="#"> <i class="fas fa-search" style="color: white; margin-right: 80px;"></i></a>
                      </li>
                        <li><a href="/notification" style="color: white;"><span class="fas fa-home" style="color: white; margin-right: 30px;"> </span> 
                            
                          <span class="badge pull-right"></span>
                         </a></li>
                        <li><a href="/notification" style="color: white;"><span class="fas fa-bell" style="color: white; margin-right: 25px;"> </span> 
                            <span class="badge pull-right"></span>
                         </a></li>
                         
                         <li class="dropdown">
                              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" style="color: white;">
                                <span class="fa fa-align-justify" style="color: white"></span></a>

                          <ul class="dropdown-menu" aria-labelledby="about-us">
                                   <li><a href="/profile/" style="color: gray">Profile</a></li>
                                   <li><a href="/logout" style="color: gray"></span>Log out</a></li>     
                          </ul>
                        </li>
                        </ul>
                        </div>
                </div>
            </div>
                  <!-- <li class="dropdown pull-left"> -->
                    
                  <!-- </li> -->
          </ul>
        </div>
      </div>
    </nav>

    <!-- Page Header -->
    <header class="masthead" style="background-image: url('../static/img/about-bg.jpg'); background-position: center; background-repeat: no-repeat; height: 100%; padding: 130px; margin-top: 0%;" >
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="site-heading">
              
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Bootstrap core JavaScript -->
    <script src="../static/vendor/jquery/jquery.min.js"></script>
    <script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="../static/js/clean-blog.min.js"></script>

  </body>

</html>
