{% extends 'base/landing-page-writer.html' %}
{% block custom_css %}
<!-- Custom CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<script>
   $(document).ready(function () {
            $('#type').submit(function () {
                var type = $(".type-select option:selected").val();
                alert(type);
                localStorage.setItem('type_selected', type);
                if (type == 'Region'){
                    window.location.href='/writer/region', true;
                } else if (type == 'Destination') {
                    window.location.href='/writer/destination', true;
                } else {
                    window.location.href='/writer/attraction', true;
                }
                return false;
            });
        })
</script>
{% endblock %}
{% block content %}
<div class="signin-modal modal fade" id="squarespaceModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="section-heading">Select what to write</h4>
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span
                        class="sr-only">Close</span></button>
            </div>

            <div class="modal-body">
                <fieldset>
                    <div class="row">
                        <div class="col-sm-8 col-md-12  col-md-offset-12">
                            <form id="type">
                                <div class="form-group">
                                    <select tabindex="1" class="type-select form-control">
                                      <option value="" selected disabled hidden>Choose here</option>
                                      <option value="Region">Region</option>
                                      <option value="Destination">Destination</option>
                                      <option value="Attraction">Attraction</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary btn-block">Next
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
    </div>
</div>
<section class="page-section custom" style="    padding-top: 5rem;
    padding-bottom: 5rem; background-color: whitesmoke; margin-top:0em; margin-bottom:0em;">
      <div class="container" style="max-width:100%;">
        <div class="row">
          <div class="col-xl-9 mx-auto">
            <div class="custom-inner text-center rounded">
              <h2 class="section-heading mb-4">
                <span class="section-heading-upper">Write a Post</span>
              </h2>
          <select class="region form-control" required>
            <option value="" selected disabled hidden>Choose a region</option>
                {% for region in regions %}
              <option value="{{ region.name }}">{{ region.name }}</option>
                {%  endfor %}
            </select>

            <input type="text" name="Location" placeholder="Location" id="location_des" style="width:100.2%;" required>
            <input type="text" name="Title" placeholder="Title" id="title_des" style="width:100.2%;" required>
            <textarea class="tinymce" id="texteditor"></textarea>
            <div style=" width:100%;">
                <h3 style="">Preview</h3>
                <img src="../static/img/no-image.jpg" id="img-preview" style="width:80%;"/>
            </div>
            <div class="btn btn-primary" style="width: 20% !important;
    position: relative;
    overflow: hidden;
    direction: ltr;
    background: #333;
    border: #333; float:left; margin-top:1em;">
              <label class="file-upload-container" for="file-upload">
                <input id="file-upload" type="file" style="display:none;">
                Select an Image
              </label>
            </div>
            <input type="submit" class="btn" id="submit_dest" value="Submit" style="margin-top:3em;">
            <input type="submit" class="btn" id="draft_dest" value="Save to Draft" style="margin-top:3em;">
            <input type="submit" class="btn" id="cancel" value="Cancel" style="margin-top:3em;">
            </div>
          </div>
        </div>
      </div>
        <div id="data-containter">

        </div>
</section>


{% endblock %}
{% block custom_js %}
<!-- CUSTOM JS -->
<script>
        $(document).ready(function () {
            $('#submit_dest').click(function () {
                var content = tinymce.get("texteditor").getContent();
                var region = $(".region option:selected").val();
                var name = $("#title_des").val();
                var username = localStorage.getItem('user')
                var location = $("#location_des").val();
                var public_id = localStorage.getItem('public_id')
                $.ajax({
                    url: "http://127.0.0.1:5000/api/writer/submit/destination",
                    contentType: 'application/json; charset=utf-8',
                    data: JSON.stringify({
                        'username': username,
                        'content':content,
                        'region': region,
                        'name' : name,
                        'location' : location,
                        'public_id' : public_id,
                    }),
                    method: "POST",
                    dataType: "json",
                    crossDomain: true,
                    success: function () {
                        console.log("success");
                        alert("Submitted!");
                        window.location.href='/writer'
                    },
                    error: function () {
                        console.log('error')
                    }
                })
                return false;
            });
            $('#draft_dest').click(function () {
                var content = tinymce.get("texteditor").getContent();
                var region = $(".region option:selected").val();
                var name = $("#title_des").val();
                var username = localStorage.getItem('user')
                var location = $("#location_des").val();
                var public_id = localStorage.getItem('public_id')
                $.ajax({
                    url: "http://127.0.0.1:5000/api/writer/draft/destination",
                    contentType: 'application/json; charset=utf-8',
                    data: JSON.stringify({
                        'username': username,
                        'content':content,
                        'region': region,
                        'name' : name,
                        'location' : location,
                        'public_id' : public_id,
                    }),
                    method: "POST",
                    dataType: "json",
                    crossDomain: true,
                    success: function () {
                        console.log("success");
                        alert("Submitted!");
                        window.location.href='/writer'
                    },
                    error: function () {
                        console.log('error')
                    }
                })
                return false;
            });
            $('#cancel').click(function () {
                window.location.href='/writer';
                return false;
            });
        });
    </script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="{{url_for('static', filename='js/cloudinary.js')}}"></script>
<script src="{{url_for('static', filename='plugin/tinymce/js/tinymce/tinymce.min.js')}}"></script>
<script src="{{url_for('static', filename='plugin/tinymce/js/tinymce/init-tinymce.js')}}"></script>
<script src="{{url_for('static', filename='js/getdata.js')}}"></script>
<script src="{{url_for('static', filename='js/submit.js')}}"></script>
{% endblock %}