{% extends 'base/landing-page-writer.html' %}
{% block custom_css %}
<!-- Custom CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<script>
  $(document).ready(function () {
            var role_id = localStorage.getItem('role_id');
            if (role_id != '3') {
                window.location.href = '/unauthorized';
            }
        })
</script>
<script>
   $(document).ready(function () {
            $('#type').submit(function () {
                var type = $(".type-select option:selected").val();
                alert(type);
                localStorage.setItem('type_selected', type);
                if (type == 'Region'){
                    window.location.href='/writer/region', true;
                } else if (type == 'Destination') {
                    window.location.href='/writer/destination', true;
                } else {
                    window.location.href='/writer/attraction', true;
                }
                return false;
            });
        })
</script>
{% endblock %}
{% block notification %}
    <li class="dropdown" style="width:15px; height:15px; margin-right:1em;">
        <a href="#" class="dropdown-toggle" onclick="markread2();" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="width:15px; height:15px; color: white;">
            {% if notifications.count[0].count != 0 %}
            <span id="redmark" style="position: absolute;
    top: 0;
    right: -5px;
    width: 1.2em;
    height: 1.4em;
    font-size: 12px;
    background: red;
    border: 1px solid red;
    border-radius: 50%;
    text-align: center;">{{notifications.count[0].count}}</span>
            {% endif %}
            <span class="fas fa-bell" style="color: rgba(0,0,0,.9); margin-right: 25px; color: #999 !important;"> </span>
            <span class="badge pull-right"></span>
        </a>
      <ul class="dropdown-menu" style="position: absolute; font-size: 12px; left:auto; right:0;
font-style: normal; color: #999 !important; width: 250px; font-size:12px;">
          <div class="notify-drop-title">
            <div class="row" style="margin:0px !important;">
                <div style="text-align: center; width:100% !important;">Notifications</div>
            </div>
        </div>
          <hr>
          <div class="drop-content">
              {% for notification in notifications.notifications %}
              {% if notification.unread == 'True' %}
              <div style="border-bottom:1px solid lightgrey; height:60px; margin-bottom:1em; background-color:#e8e8e8 !important;" >
              {% else %}
              <div style="border-bottom:1px solid lightgrey; height:60px; margin-bottom:1em;">
              {% endif %}
                  <div style="width: 20%; display: inline-block; float: left; margin-left: 2%;">
                  <img src="{{ notification.profile }}" alt="" style="width:45px; height:45px; margin-top: 10%;">
                  </div>
                  {% if notification.status == 'returned' %}
                  <a href="/writer/{{notification.type}}/{{notification.name}}" style="color: #212529;">
                      <div style="width: 75%; display: inline-block; margin-left: 3%;">
                                Your submission has been accepted and published.
                                <p class="time" style="font-size:10px;">{{ notification.date }}</p>
                      </div>
                  </a>
                  {% elif notification.status == 'checked' %}
                  <a href="/writer/{{notification.type}}/{{notification.name}}" style="color: #212529;">
                      <div style="width: 75%; display: inline-block; margin-left: 3%;">
                                Your submission has been returned.
                                <p class="time" style="font-size:10px;">{{ notification.date }}</p>
                      </div>
                  </a>
                  {% endif %}
              </div>
              {% else %}
                <div style="border-bottom:1px solid lightgrey; height:60px; margin-bottom:1em;">
                      <div style="width: 100%; display: inline-block; margin-left: 3%; text-align: center;">
                                You have no notifications.
                      </div>
                </div>
              {% endfor %}
          </div>
          <div class="notify-drop-footer text-center">
          </div>
      </ul>
  </li>
{% endblock %}
{% block content %}
<div class="signin-modal modal fade" id="squarespaceModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="section-heading">Select what to write</h4>
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span
                        class="sr-only">Close</span></button>
            </div>

            <div class="modal-body">
                <fieldset>
                    <div class="row">
                        <div class="col-sm-8 col-md-12  col-md-offset-12">
                            <form id="type">
                                <div class="form-group">
                                    <select tabindex="1" class="type-select form-control">
                                      <option value="" selected disabled hidden>Choose here</option>
                                      <option value="Region">Region</option>
                                      <option value="Destination">Destination</option>
                                      <option value="Attraction">Attraction</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary btn-block">Next
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
    </div>
</div>
<section class="page-section custom" style="    padding-top: 5rem;
    padding-bottom: 5rem; background-color: whitesmoke; margin-top:0em; margin-bottom:0em;">
      <div class="container" style="max-width:100%;">
        <div class="row">
          <div class="col-xl-9 mx-auto">
            <div class="custom-inner text-center rounded">
              <h2 class="section-heading mb-4">
                <span class="section-heading-upper">Write a Post</span>
              </h2>
              <select class="region form-control">
          <option value="" selected disabled hidden>Choose here</option>
          <option value="Zamboanga Peninsula">Zamboanga Peninsula</option>
          <option value="Northern Mindanao">Northern Mindanao</option>
          <option value="Davao Region">Davao Region</option>
          <option value="SOCCSKSARGEN">SOCCSKSARGEN</option>
          <option value="Caraga Region">Caraga Region</option>
          <option value="ARMM">ARMM</option>
        </select>
        <textarea class="tinymce" id="texteditor"></textarea>
        <div style=" width:100%;">
                <h3 style="">Preview</h3>
                <img src="../static/img/no-image.jpg" id="img-preview" style="width:80%;"/>
            </div>
            <div class="btn btn-primary" style="width: 20% !important;
    position: relative;
    overflow: hidden;
    direction: ltr;
    background: #333;
    border: #333; float:left; margin-top:1em;">
              <label class="file-upload-container" for="file-upload">
                <input id="file-upload" type="file" style="display:none;">
                Select an Image
              </label>
        </div>
        <input type="submit" class="btn" id="submit" value="Submit" style="margin-top:3em;">
        <input type="submit" class="btn" id="draft" value="Save to Draft" style="margin-top:3em;">
        <input type="submit" class="btn" id="cancel" value="Cancel" style="margin-top:3em;">
            </div>
          </div>
        </div>
      </div>
        <div id="data-containter">

        </div>
</section>


{% endblock %}
{% block custom_js %}
<!-- CUSTOM JS -->
<script>
        // Some options to pass to the uploader are discussed on the next page
        var uploader = new qq.FineUploader({
            element: document.getElementById("uploader"),
            debug: true,
            request: {
                endpoint: '/upload'
            },
            deleteFile: {
                enabled: true,
                endpoint: '/delete'
            },
            retry: {
               enableAuto: true
            },
            validation: {
                itemLimit: 1,
                allowedExtensions: ['jpeg', 'jpg', 'gif', 'png']
            },
            callbacks: {
                onSubmit: function (id, fileName) {
                    alert(fileName);
                },
                setName: function (id, name) {
                    alert(name);
                }
            }
            })
</script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="{{url_for('static', filename='js/cloudinary.js')}}"></script>
<script src="{{url_for('static', filename='plugin/tinymce/js/tinymce/tinymce.min.js')}}"></script>
<script src="{{url_for('static', filename='plugin/tinymce/js/tinymce/init-tinymce.js')}}"></script>
<script src="{{url_for('static', filename='js/getdata.js')}}"></script>
<script src="{{url_for('static', filename='js/submit.js')}}"></script>
{% endblock %}