<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Mindanao Escapade</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="../static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href='../static/vendor/fontawesome-free/css/fontawesome.css' rel='stylesheet' type='text/css'>
    <link href='../static/vendor/fontawesome-free/css/fontawesome.min.css' rel='stylesheet' type='text/css'>
    <!-- <link href="../static/css/agency.css" rel="stylesheet"> -->

    <!-- Custom styles for this template -->
    <link href="../static/css/clean-blogT.css" rel="stylesheet">
      <script src="../static/js/jquery-3.3.1.min.js"></script>
    <script>
       $(document).ready(function () {
                $('#type').submit(function () {
                    var type = $(".type-select option:selected").val();
                    alert(type);
                    localStorage.setItem('type_selected', type);
                    if (type == 'Region'){
                        window.location.href='/writer/region', true;
                    } else if (type == 'Destination') {
                        window.location.href='/writer/destination', true;
                    } else {
                        window.location.href='/writer/attraction', true;
                    }
                    return false;
                });
            })
    </script>
  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-xl navbar-light fixed-top" style="background-color: black; height: 10%;" id="mainNav">
      <div class="container">
        <a class="navbar-brand"  style="margin-right:-20px;">Mindanao Escapade</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <div class="navbar-header">
                <div class="nav navbar-nav navbar-right">
                      <li>
                          <input type="text" placeholder="Search.." name="search" style="height: 25px; font-size: 20px;">
                          <a href="#"> <i class="fas fa-search" style="color: white; margin-right: 80px;"></i></a>
                      </li>
                      <li><a href="/notification" class="js-scroll-trigger" data-toggle="modal"
                            data-target="#squarespaceModal" style="color: white;"><span style="color: white; margin-right: 25px;">Write a Post</span>
                            <span class="badge pull-right"></span>
                      </a></li>
                      <li><a href="/writer" style="color: white;"><span class="fas fa-home" style="color: white; margin-right: 30px;"> </span>
                          <span class="badge pull-right"></span>
                      </a></li>
                      <li><a href="/notification" style="color: white;"><span class="fas fa-bell" style="color: white; margin-right: 25px;"> </span>
                            <span class="badge pull-right"></span>
                      </a></li>
                      <li class="dropdown">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" style="color: white;">
                              <span class="fa fa-align-justify" style="color: white"></span>
                          </a>
                          <ul class="dropdown-menu" aria-labelledby="about-us">
                              <li><a href="/profile/info" style="color: gray">Profile</a></li>
                              <li><a href="/writer/drafts">My Drafts</a></li>
                              <li><a href="/writer/submissions">My Submissions</a></li>
                              <li><a href="/logout" style="color: gray"></span>Log out</a></li>
                          </ul>
                      </li>
                </div>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Page Header -->
    <header class="masthead" style="background-image: url('../static/img/about-bg.jpg'); background-position: center; background-repeat: no-repeat; height: 100%; padding: 130px; margin-top: 0%;" >
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="site-heading">
                <h1 style="font-size:50px !important;-">Visit Mindanao</h1>
              <span class="subheading">Where to Next?</span>
            </div>
          </div>
        </div>
      </div>
    </header>
    <div class="signin-modal modal fade" id="squarespaceModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="section-heading">Select what to write</h4>
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span
                            class="sr-only">Close</span></button>
                </div>

                <div class="modal-body">
                    <fieldset>
                        <div class="row">
                            <div class="col-sm-8 col-md-12  col-md-offset-12">
                                <form id="type">
                                    <div class="form-group">
                                        <select tabindex="1" class="type-select form-control">
                                          <option value="" selected disabled hidden>Choose here</option>
                                          <option value="Region">Region</option>
                                          <option value="Destination">Destination</option>
                                          <option value="Attraction">Attraction</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <button type="submit" style="background-color: #333; border-color:#333;" class="btn btn-xl btn-primary btn-block">Next
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>
    </div>
    <div class="container" style="margin-top:5em;">
      <div class="row">
        <div class="col-lg-10 col-md-10 mx-auto">
            {% if posts %}
        {% for post in posts %}
          <div class="post-preview">
            <a href="#">
                <img style="width: 100%;
    height: 640px;" src="data:image;base64, {{ post.photo }}" />
              <h2 class="post-title">
                {{ post.name }}
              </h2>
              <h3 class="post-subtitle">
                {{ post.content | safe }}
              </h3>
            </a>
            <p class="post-meta">Posted by {{ post.author }} on {{ post.date }}</p>
          </div>
          {% endfor %}
            {% endif %}
          <hr>
        </div>
      </div>
    </div>

    <hr>

    <!-- Footer -->
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <p class="copyright text-muted">Copyright &copy; Mindanao Escapade 2018</p>
          </div>
        </div>
      </div>
    </footer>
    <!-- Bootstrap core JavaScript -->
    <script src="../static/vendor/jquery/jquery.min.js"></script>
    <script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="../static/js/clean-blog.min.js"></script>

  </body>

</html>
